body {
  background-color: #999999;
}
.container {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  text-align: center;
  margin: auto;
  max-width: 768px;
}
header {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-circle {
  background: #db5220;
  border-radius: 50%;
  width:45px;
  height:45px;
  margin-right: 10px;
}
.header-text {
  color: #fff;
}
.header-text-main {
  font-size: 33px;
  display: flex;
  justify-content: flex-start;
}
.header-text-description {
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
}
.header-sign {
  font-size: 12px;
}
.test-caption, .next-caption {
  font-family: Montserrat, Rubik, sans-serif;
  color: #fff;
  font-weight: lighter;
}
.test, .next {
  margin: 20px 20px;
}
.test-text, .next-text1 {
  color: #e5e5e5;

}
.test-img {
  margin: 30px;
}
.test-table {
  margin-top: 40px;
  margin: auto;
  color: #fff;
  border-collapse: collapse;
  text-align: left;
}
tr {
  height: 30px;
}
td {
  border-top: 1px solid #ccc9c9;
  padding: 0 10%;
}
th {
  background-color:#ccc9c9;
  padding: 0 10%;
}
.next {
  margin-top: 40px;
}
.next-text2 {
  color: #e5e5e5;
  text-align: left;

}
.next-main {
}

.next-button {
  margin: 40px 0;
}
.btn {
  cursor: pointer;
  color: #fff;
  background-color: #fd8513;
  border-radius: 8px;
}

@media only screen and (max-width: 320px) {
  .container {
    min-width: 320px;
  }
  .img-car {
    width: 180px;
  }
  .test-text, .next-text1, .next-text2 {
    font-size: 15px;
  }
  .test-caption, .next-caption {
    font-size: 35px;
  }
  .img-laptop {
    width: 250px;
  }
  .btn {
    padding: 10px 30px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 568px) {
  .img-laptop {
    width: 250px;
  }
  .test-caption, .next-caption {
    font-size: 45px;
  }
  .img-car {
    width: 210px;
  }
  .test-text, .next-text1, .next-text2 {
    font-size: 15px;
  }
  .btn {
    padding: 10px 30px;
    font-size: 20px;
  }

}

@media only screen and (min-width: 569px) and (max-width: 768px) {
  .container {
    width: Calc(100%-30px);
  }
  header {
    margin-top: 30px;
  }
  .test-text, .next-text1, .next-text2 {
    font-size: 16px;
  }
  td, th {
    font-size: 16px;
  }
  .test-table {
    width: 80%;
  }
  .img-laptop {
    float: left;
    padding: 3px 20px 10px 20px;
    width: 250px;
    height:100px;
  }
  .test-caption, .next-caption {
    font-size: 47px;
  }
  .img-car {
    width: 220px;
  }
  .btn {
    padding: 10px 50px;
    font-size: 22px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1780px) {
  .container {
    width:70%;
  }
  header {
    margin-top: 40px;
  }
  .test-text, .next-text1, .next-text2 {
    font-size: 18px;
  }
  td, th {
    font-size: 18px;
  }
  .test-table {
    width: 60%;
  }
  .img-laptop {
    float: left;
    padding: 3px 20px 10px 20px;
    width: 250px;
    height:100px;
  }
  .test-caption, .next-caption {
    font-size: 50px;
  }
  .img-car {
    width: 225px;
  }
  .btn {
    padding: 10px 50px;
    font-size: 22px;
  }

}
/*1024
768
480*/
