body {
  background-color: #061243;
}
.container {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  text-align: center;
  margin: auto;
  max-width: 768px;
}
header {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-circle {
  background: #f26722;
  border-radius: 50%;
  width:45px;
  height:45px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: baseline;

}
.cirlse-sm, .cirlse-md, .cirlse-lg {
  color: #fffefc;
  font-weight: bold;
  position: relative;
  top: 5px;
  letter-spacing:2px;
}
.cirlse-sm {
  font-size: 18px;
}
.cirlse-md {
  font-size: 22px;
}
.cirlse-lg {
  font-size: 26px;
}
.header-text {
  color: #fffefc;
}
.header-text-main {
  font-size: 33px;
  display: flex;
  justify-content: flex-start;
}
.header-text-description {
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
}
.header-sign {
  font-size: 12px;
}
.test-caption, .next-caption {
  font-family: Montserrat, Rubik, sans-serif;
  color: #fffefc;
  font-weight: lighter;
}
.test, .next {
  margin: 20px 20px;
}
.test-text, .next-text1 {
  color: #4e5c9c;

}
.test-img {
  margin: 30px;
}
.test-table {
  margin-top: 40px;
  margin: auto;
  color: #fffefc;
  border-collapse: collapse;
  text-align: left;
}
tr {
  height: 30px;
}
td {
  border-top: 1px solid #23316c;
  padding: 0 10%;
}
th {
  background-color:#23316c;
  padding: 0 10%;
}
.next {
  margin-top: 40px;
}
.next-text2 {
  color: #e5e5e5;
  text-align: left;
}
.next-button {
  margin: 40px 0;
}
.btn {
  cursor: pointer;
  color: #fffefc;
  background-color: #fb8d00;
  border-radius: 8px;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 #a94311;
}

@media only screen and (max-width: 320px) {
  .container {
    min-width: 320px;
  }
  .test-text, .next-text1, .next-text2 {
    font-size: 15px;
  }
  td, th {
    font-size: 15px;
  }
  .test-table {
    width: 90%;
  }
  .test-caption, .next-caption {
    font-size: 35px;
  }
  .img-laptop {
    width: 200px;
  }
  .img-car {
    width: 250px;
  }
  .btn {
    padding: 10px 30px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 568px) {
  .container {
    width: Calc(100%-30px);
  }
  .test-text, .next-text1, .next-text2 {
    font-size: 15px;
  }
  td, th {
    font-size: 15px;
  }
  .test-table {
    width: 80%;
  }
  .test-caption, .next-caption {
    font-size: 45px;
  }
  .img-laptop {
    width: 250px;
  }
  .img-car {
    width: 250px;
  }
  .btn {
    padding: 10px 30px;
    font-size: 20px;
  }

}

@media only screen and (min-width: 569px) and (max-width: 768px) {
  .container {
    width: Calc(100%-30px);
  }
  .test-text, .next-text1, .next-text2 {
    font-size: 16px;
  }
  td, th {
    font-size: 16px;
  }
  .test-table {
    width: 80%;
  }
  .test-caption, .next-caption {
    font-size: 47px;
  }
  .img-laptop {
    float: left;
    padding: 3px 20px 10px 20px;
    width: 250px;
    height:100px;
  }
  .img-car {
    width: 350px;
  }
  .btn {
    padding: 10px 50px;
    font-size: 22px;
  }
}
@media only screen and (min-width: 769px) {
  .container {
    width:70%;
  }
  .test-text, .next-text1, .next-text2 {
    font-size: 18px;
  }
  td, th {
    font-size: 18px;
  }
  .test-table {
    width: 70%;
  }
  .test-caption, .next-caption {
    font-size: 50px;
  }
  .img-laptop {
    float: left;
    padding: 3px 20px 10px 20px;
    width: 250px;
    height:100px;
  }
  .img-car {
    width: 400px;
  }
  .btn {
    padding: 10px 50px;
    font-size: 22px;
  }
}
